{% extends 'base/map_base.html.j2' %}
{% block body %}

<div id="map" class="border border-black absolute h-full w-full" ></div>

    <script>
        {%if center %}
        var map = L.map('map').setView({{center}}, 15);
        {% else %}
        var map = L.map('map').setView([41.38, 2.16], 9);
        {% endif %}
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        
        var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });


        var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });


        {% for eachsensor in sensors %}
            var sensorPopupContent = `
            <b>Name:</b> {{ eachsensor.name }}<br>
            <b>Description:</b> {{ eachsensor.description }}<br>
            <b>Sensor Status:</b> {{ eachsensor.status }}<br>
            <div class="bg-blue-200 text-white font-bold py-1 px-2 rounded cursor-pointer w-2/3 text-center mx-auto my-2">
                <a href="{{ url_for('.sensors.edit', id=eachsensor.id) }}" target="_blank">Modify Sensor</a>
            </div>

            `;

            let icon = null
            {% if eachsensor.status %}
                icon = greenIcon
            {% else %}
                icon = redIcon
            {% endif %}

        L.marker([{{ eachsensor.location.latitude }}, {{ eachsensor.location.longitude }}], {icon: icon})
            .addTo(map)
            .bindPopup(sensorPopupContent);
        {% endfor %} 
        

    </script>

{% endblock %}