{% extends 'base/logged_in.html.j2' %}

{% block body %}
{% set view_only = not current_user.role == "Admin" %}
{% set uplink = sensor.get_last_uplink() %}
{% set downlink = sensor.get_last_downlink() %}
<section class="py-2 disabled-input-gray">

  <div class="w-full bg-slate-400 bg-opacity-90 lg:w-8/12 mx-auto mt-6 max-w-[1250px]">
    <div
      class="relative flex flex-row min-w-0 break-words w-full justify-between bg-white mb-6 shadow-lg bg-blueGray-100">
      <div class="flex flex-wrap items-center justify-between mb-0 px-6 py-6">
        <h6 class="text-blueGray-700 text-xl font-bold">{{ _('Sensor Information') }}</h6>
      </div>
      <div class="flex flex-wrap items-center justify-between mb-0 px-6 py-6">
        <a href="{{url_for('main.map', lat=sensor.location.latitude, lon=sensor.location.longitude)}}"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-1 mr-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">{{
          _('Map') }}</a>
        <a href="{{url_for('.water', id=sensor.id)}}"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{
          _('Water') }}</a>
        <a href="{{url_for('.edit', id=sensor.id)}}"
          class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-1 mr-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-blue-orange">{{
          _('Edit') }}</a>
        <button id="{{ 'delete_button'+sensor.id|string }}"
          class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          <i class="fa fa-spinner" style="display:none;"></i>
          <span>{{ _('Delete') }}</span>
        </button>
        <script>
          const {{ 'delete_button'+sensor.id | string }} = document.querySelector('{{ '#delete_button'+sensor.id|string }}');
          { { 'delete_button' + sensor.id | string } }.addEventListener('click', async function (event) {
            event.preventDefault();
            const isConfirmed = confirm("{{ _('Are you sure you want to delete this sensor?') }}");
            if (!isConfirmed) return;

            event.target.closest('button').children[0].style.display = "block";
            event.target.closest('button').children[1].style.display = "none";

            var response = await fetch('{{url_for('.remove', id=sensor.id)}}', { method: 'DELETE' });
            if (response.ok) {
              window.location.reload();
              return;
            }
            // Catching
            event.target.closest('button').children[0].style.display = "none";
            event.target.closest('button').children[1].style.display = "block";
            alert(await response.text());
          });
        </script>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <div id="sensor-information" class="flex flex-wrap p-1 rounded m-1 relative">
        <div id="div1-background" class="absolute w-full h-full bg-white opacity-50 p-2 rounded"></div>

        <div class="w-full lg:w-12/12 px-4 mx-2 mt-2">
          <div class="relative flex flex-row justify-between w-full mb-1 opacity-70 p-1 rounded">
            <div class="flex my-auto h-full w-full">
              <h1 for="name" class="select-none block my-auto text-xl text-blueGray-600 font-bold">
                {{ _('Basic') }}
              </h1>
            </div>
            <div class="relative flex w-10 h-10 justify-center align-center hover:cursor-pointer select-none"
              onclick="toggleSection('sensor-information-content', 'arrow-info')">
              <span id="arrow-info" class="relative z-10 mx-1 my-auto text-3xl align-middle text-black">▲</span>
              <div class="absolute top-0 left-0 z-0 bg-white opacity-60 w-full h-full rounded-full"></div>
            </div>
          </div>
        </div>

        <div id="sensor-information-content" class="w-full h-full">
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="name" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Sensor Name') }}
              </label>
              <p class=" p-1 rounded">
                {{ sensor.name | default('No Information', true)}}
              </p>
            </div>
          </div>

          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Sensor TTN ID') }}
              </label>
              <p class=" p-1 rounded">
                {{ sensor.eui | default('No Information', true)}}
              </p>
            </div>
          </div>

          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Sensor Description') }}
              </label>
              <p class=" p-1 rounded">
                {{ sensor.description | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Watered At') }}
              </label>
              <p class=" p-1 rounded">
                {{ sensor.last_watered_at | default('No Information', true)}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="sensor-uplink" class="flex flex-wrap p-1 rounded m-1 relative">
        <div id="div2-background" class="absolute w-full h-full bg-white opacity-50 p-2 rounded"></div>

        <div class="w-full lg:w-12/12 px-4 m-2">
          <div class="relative flex flex-row justify-between w-full p-1 rounded">
            <div class="flex my-auto h-full w-full">
              <h1 for="name" class="select-none block my-auto text-xl text-blueGray-600 font-bold">
                {{ _('Uplink') }}
              </h1>
            </div>
            <div class="relative flex w-10 h-10 justify-center align-center hover:cursor-pointer select-none"
              onclick="toggleSection('sensor-uplink-content', 'arrow-uplink')">
              <span id="arrow-uplink" class="mx-1 my-auto text-3xl align-middle text-black">▲</span>
              <div class="absolute top-0 left-0 bg-black opacity-20 w-full h-full rounded-full"></div>
            </div>
          </div>
        </div>

        <div id="sensor-uplink-content" class="w-full h-full">
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="received_at" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Uplink Sent At') }}
              </label>
              <p class=" p-1 rounded">
                {{ uplink.received_at | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="humidity" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last humidity Reading') }}
              </label>
              <p class=" p-1 rounded">
                {{ uplink.humidity | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="temperature" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Temperature Reading') }}
              </label>
              <p class=" p-1 rounded">
                {{ uplink.temperature | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="battery" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Battery Reading') }}
              </label>
              <p class=" p-1 rounded">
                {{ uplink.battery | default('No Information', true)}}
              </p>
            </div>
          </div>
        </div>

      </div>

      <div id="sensor-downlink" class="flex flex-wrap p-1 rounded m-1 relative">
        <div id="div3-background" class="absolute w-full h-full bg-white opacity-50 p-2 rounded"></div>

        <div class="w-full lg:w-12/12 px-4 m-2">
          <div class="relative flex flex-row justify-between w-full p-1 rounded">
            <div class="flex my-auto h-full w-full">
              <h1 for="name" class="select-none block my-auto text-xl text-blueGray-600 font-bold">
                {{ _('Downlink') }}
              </h1>
            </div>
            <div class="relative flex w-10 h-10 justify-center align-center hover:cursor-pointer select-none"
              onclick="toggleSection('sensor-downlink-content', 'arrow-downlink')">
              <span id="arrow-downlink" class="mx-1 my-auto text-3xl align-middle text-black">▲</span>
              <div class="absolute top-0 left-0 bg-black opacity-20 w-full h-full rounded-full"></div>
            </div>
          </div>
        </div>

        <div id="sensor-downlink-content" class="w-full h-full">
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Downlink Sent At') }}
              </label>
              <p class=" p-1 rounded">
                {{ downlink.sent_at | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Downlink Acknowledgement') }}
              </label>
              <p class=" p-1 rounded">
                {{ downlink.ack_at | default('No Information', true)}}
              </p>
            </div>
          </div>
          <div class="w-full lg:w-12/12 px-4 m-2">
            <div class="relative w-full mb-3">
              <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlfor="grid-password">
                {{ _('Last Downlink Water Now Seconds') }}
              </label>
              <p class=" p-1 rounded">
                {{ downlink.water_now_seconds | default('No Information', true)}}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>
</section>
<script>
  function toggleSection(contentId, spanId) {
    const content = document.getElementById(contentId);
    const arrow = document.getElementById(spanId);
    if (content.style.display === 'none') {
      content.style.display = 'block';
      arrow.textContent = '▲';
    } else {
      content.style.display = 'none';
      arrow.textContent = '▼';
    }
  }
</script>

{% endblock %}