<!DOCTYPE html>
<html class="h-full">
  {% include 'includes/head.html.j2' %}

  <body class="flex flex-col font-mono h-full">

    {% include 'includes/navbar.html.j2' %}
    
    <main class="relative grow p-7 justify-center items-center bg-transparent">
      {% block body %}{% endblock %}
    </main>

    {% include 'includes/background.html.j2' %}
  </body>
</html>
